.content-body {
    position: relative; }
#wishlist {
    padding: 20px; }
.ecommerce-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25); }

.item-price {
    font-weight: 600; }
.item-rating i {
    margin-left: .25rem;
    vertical-align: top; }
.item-name {
    font-weight: 600;
    color: #2c2c2c; }
.item-name a {
    color: #626262; }
.item-name a:hover {
    color: #feba57; }

.item-description {
    font-size: .875rem; }
.wishlist,
.cart {
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: .875rem;
    text-transform: uppercase; }
.wishlist i,
.cart i {
    font-size: 1rem;
    margin-right: .25rem; }

.wishlist {
    background-color: #f6f6f6;
    color: #2c2c2c;
    user-select: none; }
.wishlist.added i {
    color: #ea5455; }

.cart {
    background-color: #feba57;
    color: #fff; }
.cart .view-in-cart {
    color: #fff; }
.item-img {
    padding-top: .5rem;
    min-height: 15.85rem; }
.item-wrapper {
    display: flex;
    justify-content: space-between; }
.item-wrapper .item-price {
    position: relative;
    top: 5px; }
.item-options.text-center .row .col-6 {
    padding: 0px!important; }
.item-options .cart,
.item-options .wishlist {
    flex-grow: 1; }
.item-options .wishlist {
    padding: .5rem 2rem; }
.item-options .item-wrapper .item-rating {
    display: none; }
.item-options .item-wrapper .item-price {
    display: none; }
.item-name {
    margin-top: 1rem; }
.item-name,
.item-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
.card-body {
    padding: 1rem;
    padding-bottom: 0; }
@media (max-width: 1200px) {
    .app-content {
        overflow: scroll; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .grid-view {
        display: block; }
    .grid-view {
        float: left;
        width: 31%;
        margin-left: 1%;
        margin-right: 1%; }
    #ecommerce-pagination .row {
        clear: both; } }
