.header-search-form {
    display: inline-flex;
    width: 100%;
    position: relative;
    padding: 0 10px;
}

.header-search-form input {
    width: 100%;
    height: 35px;
    font-size: 14px;
    padding: 0 14px;
    border-radius: 5px;
    background: #fff;
}

.header-search-form .form-control {
    border: 1px solid rgba(251, 164, 92, 0.73);
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #fba45c;
}

.header-search-form button {
    width: 110px;
    height: 35px;
    margin-left: 12px;
    top: 0;
    color: #fff;
    font-size: 16px;
    background: #feba57;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #0c0f1326;
}

.mbfm.header-search-form button {
    display: inline-flex;
    position: absolute;
    width: 30px;
    height: 80%;
    top: 10%;
    right: 6%;
    background: #ffffff;
    color: #fab266;
    font-size: 5px;
    box-shadow: none;
}

.mbfm.header-search-form button i {
    line-height: 1.4;
}












.align-justify-0 {
    align-items: center !important;
    justify-content: space-between !important;
}

ul.dpcp.topbar-nav.float-right {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbar-nav li {
    float: left;
}

    .container.vw {
        max-width: 1190px;
    }